# Environment & Secrets
.env
*.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
.venv/
ENV/
env/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Output & Logs
logs/
results/
*.log


